<h4>Events</h4>
<a class="back header-link" href="#">back to places</a>
<a class="add-event header-link" href="#">add an event</a>
{% if model.length > 0 %}
<table class="event-list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
			<th>Start</th>
			<th>End</th>
			<th>Tags</th>
			<th></th>
        </tr>
    </thead>
    <tbody>
        {% for event in model %}
        <tr data-id="{{event._id}}">
            <td>{{event.name}}</td>
			<td>{{event.desc}}</td>
			<td>{{event.start|date('m/d/y g:i a', 480)}}</td>
			<td>{{event.end|date('m/d/y g:i a', 480)}}</td>
			<td>
				{% for tag in event._tags %}
				{{tag.label}},
				{% endfor %}
			</td>
			<td><a class="edit" href="#">edit</a></td>
			<td><a class="delete red" href="#">delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
