<h4>Import Places</h4>
<a class='header-link' href="#">back to list</a>
<div class="place-import form">
	<div class="import-places-form">
		<div class="form-label">
        Area
    </div>
		<div class="form-input">
        <select name="area"></select>
    </div>
		<div class="form-label">
        Keyword
    </div>
		<div class="form-input">
        <input type="text" name="keyword" value="" />
    </div>
		<div class="row">
			<p class="error"></p>
			<input type="button" class="create-btn" value="Search" />
		</div>
	</div>
	<div class="results">
    </div>
</div>