<h4>Places</h4>
<a class="add-places header-link" href="#">add a place</a>
<div class="event-import">
    <h4>Import Events CSV</h4>
    <form action="/admin/importEvents" method="post" enctype="multipart/form-data">
        <input type="file" name="csv" />
        <input type="submit" value="Upload" />
    </form>
</div>
{% if model.length > 0 %}
<table class="place-list">
    <thead>
        <tr>
            <!--<th>_id</th>-->
            <!--<th>place_id</th>-->
            <th>Name</th>
            <!--<th>loc</th>-->
            <th>Where</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for place in model %}
        <tr data-id="{{place._id}}" data-place-name="{{place.name}}">
            <!--<td>{{place._id.toString()}}</td>-->
            <!--<td>{{place.place_id}}</td>-->
            <td>{{place.name}}</td>
            <!--<td>{{place.loc}}</td>-->
            <td>{{place.vicinity}}</td>
            <td><a class="places-events-link" href="#">events</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
