<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Admin</title>
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css' />
    <link type="text/css" rel="stylesheet" href="/js/jquery/ui/jquery-ui.min.css" />
    <link rel="stylesheet" href="/css/glyphicons.css" />
    <link rel="stylesheet" href="/css/halflings.css" />
    <link rel="stylesheet" href="/css/social.css" />
    <link rel="stylesheet" href="/css/filetypes.css" />
    <link type="text/css" rel="stylesheet" href="/css/site.css" />
    <link type="text/css" rel="stylesheet" href="/css/jquery/timepicker.css" />

    <!-- EXTERNAL LIBRARIES -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/js/jquery/ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/jquery/ui/external/timepicker.js"></script>

        <!-- EXTENSIONS -->
    <script src="/js/util/extensions.js"></script>
    <script src="/js/util/underscore-min.js"></script>
    <script src="/js/util/modernizr.js"></script>
    <script src="/js/util/moment.js"></script>
    <script src="/js/util/multiselect.js"></script>
    <script type="text/javascript">
        $(function () {
			var cityLoc = {
				bellingham: {
					label: 'Bellingham',
					lat: 48.7524,
					lng: -122.4712
				},
				seattle: {
					label: 'Seattle',
					lat: 47.6036,
					lng: -122.3294
				}
			},
				div = $('.admin-content'),
				timeFormat = 'h:mm tt';
			
			function bindUi(div) {
				div.find('.datepicker').each(function () {
					var input = $(this);
					if (!input.data('bound')) {
						input.datetimepicker({
							timeFormat: timeFormat
						});
						input.data('bound', true);
					}
				});

				div.find('select').each(function () {
					var input = $(this);
					if (!input.data('bound')) {
						input.selectmenu();
						input.selectmenu('refresh');
						input.data('bound', true);
					}
				});

				div.find('.autocomplete').each(function () {
					var input = $(this),
						type = input.data('type'),
						url;

					if (!input.data('bound')) {
						if (type === "place") {
							url = urls.placesNames;
						}

						if (url !== null) {
							// get options
							$.ajax({
								url: url,
								type: 'GET',
								cache: true,
								success: function (response) {
									if (response.success) {
										input.autocomplete({
											source: response.body
										});
										input.data('bound', true);
									}
								}
							});
						}
					}
				});

				div.find('.multi').multi();

				div.find('.dateformat').each(function () {
					var span = $(this),
						date = moment(span.html()),
						format = span.data('format');

					if (format === "casual") {
						span.html(date.format(datetimeCasualFormat));
					}
					else if (format === "date") {
						span.html(date.format(datetimeDateFormat));
					}
				});

				div.tooltip();
			}
			
			function getView(view, model, callback) {
				$.get('/template', { template: view, model: model }, function(html) {
					if (callback) {
						callback(html);
					}
				});
			}
			
			function loadPlacesList() {
				$.get('/admin/places', function (response) {
					var model = JSON.stringify(response.body);
					getView('admin-places', model, function(html) {
						div.html(html);
					
						$('a.add-places').on('click', loadPlacesImport);
						div.find('.places-events-link').on('click', function() {
							var placeId = $(this).parent().data('id');
							loadPlacesEvents(placeId);
						});
					});
				});
			}
			
			function loadPlacesImport() {
				getView('admin-places-import', null, function(html) {
					div.html(html);
					
					var areaSelect = div.find('select[name="area"]'),
						placeInput = div.find('input[name="keyword"]'),
						btn = div.find('input[type=button]'),
						resultsDiv = div.find('.results'),
						back = div.find('.header-link');
						
					areaSelect.empty();

					for (var c in cityLoc) {
						var option = $('<option>');
						option.html(cityLoc[c].label);
						option.data('lat', cityLoc[c].lat);
						option.data('lng', cityLoc[c].lng);

						areaSelect.append(option);
					}

					btn.off('click').on('click', function (e) {
							var data = {
								lat: areaSelect.find('option:selected').data('lat'),
								lng: areaSelect.find('option:selected').data('lng'),
								keyword: placeInput.val()
							};

							renderPlacesList(data, function (list) {
								resultsDiv.empty();
								resultsDiv.append(list);
										
								resultsDiv.find('.place').off('click').on('click', function (e) {
									importGooglePlace.call(this, function (response) {
										loadPlacesList();
									});
								});
							});
						});

					back.on('click', loadPlacesList);
					
					bindUi(div);
				});
			}
			
			function importGooglePlace(callback) {
				var place = $(this).data('place');
				$.post('/places/importGooglePlace', { place: place }, function(response) {
					callback(response);
				});
			}
			
			function renderPlacesList(data, callback) {
				// check if lat/lng are within WA
				//if (m.getAllowedBounds().contains(loc)) {
				$.post('/places/searchGooglePlaces', data, function (response) {
					if (response.success) {
						var list = $('<div class="place-list">');

						for (var p in response.body) {
							var place = $(String.format('<div class="place selectable"><div class="heading">{0}</div><span>{1}</span></div>', response.body[p].name, response.body[p].vicinity));
							place.data('place', response.body[p]);
							list.append(place);
						}
						callback(list);
					}
				});
			}
			
			function loadPlacesEvents(placeId) {				
				$.get('/admin/placeEvents', { placeId: placeId }, function(response) {
					getView('admin-place-events', response.body, function(html) {
						div.html(html);
					
						div.find('.header-link.back').on('click', loadPlacesList);
						div.find('.header-link.add-event').on('click', function() {
							loadAddEvent(placeId);
						});
					});
				});
			}
			
			function loadAddEvent(placeId) {
				$.get('/admin/tags', function(response) {
					var model = JSON.stringify(response.body);
					getView('admin-place-newevent', model, function(html) {
						div.html(html);
						bindUi(div);
						div.find('.header-link.back').on('click', function() {
							loadPlacesEvents(placeId);
						});
						
						div.find('[name="_place"]').val(placeId);
					});
				});
			}
			
			loadPlacesList();
        });
    </script>
    <style>
		html, body {
			height: 100%;
			font-family: arial;
			background-color: #444;
			color: white;
		}
		
		h1,h2,h3,h4,h5,h6,h7 {
			margin: 0;
			text-transform: uppercase;
		}
		
		h2 {
			padding: 20px 0;
		}
		
		.glyph {
            width: 30px;
            margin: 0 auto;
        }

        .glyph::before {
            margin: 0 auto;
            font-size: 30px;
        }
		
		.header-link {
			display: block;
			padding: 10px 0;
		}
		
		.selectable:hover {
			background-color: #333;
		}
		
		.admin {
			background-color: #111;
			padding: 0 20px;
			width: 80%;
			min-height: 100%;
			margin: 0 auto;
		}
		
		.form {
			width: 400px;
		}
		
		table {
		}
		
        th {
			text-align:left;
        }
        td { 
            padding: 0 20px 10px 0;
        }
		a {
			color: #00ccff;
			text-decoration: none;
		}
    </style>
</head>
<body>
    <div class="admin">
		<h2>Administrator</h2>
		<div class="admin-content">
        </div>
<!--         <div class="events">
            <h2>Events</h2>
            <div class="event-import">
                <h4>Import Events CSV</h4>
                <form action="/admin/importEvents" method="post" enctype="multipart/form-data">
                    <input type="file" name="csv" />
                    <input type="submit" value="Upload" />
                </form>
            </div>
            <br /><br />
            <table class="ajax-table" data-url="/admin/events"></table>
        </div>
        <div class="tags">
            <h2>Tags</h2>
            <div class="create-tag">
                <h4>Create Tag</h4>
                <form action="/admin/createTag" method="post">
                    <label>glyph<input type="text" name="glyph" /></label><br />
                    <label>label<input type="text" name="label" /></label><br />
                    <input type="submit" value="Create" />
                </form>
                <form action="/admin/createDefaultTags" method="post">
                    <input type="submit" value="Create Default Tags" />
                </form>
            </div>
            <br /><br />

        </div>
        <div class="users">
            <h2>Users</h2>

        </div>-->
    </div>
</body>
</html>
