<div class="event-detail">
    <div class="header row">
        <div class="back glyph glyphicons chevron-right"></div>
        <div class="header-text"></div>
    </div>
    <div class="tabs row noselect">
        <div class="tab info-tab">
            <span class="glyph glyphicons circle_info"></span>
            <span class="tab-label">info</span>
        </div>
        <div class="tab chat-tab">
            <span class="glyph glyphicons chat"></span>
            <span class="tab-label">chat</span>
        </div>
        <div class="tab empty"></div>
        <div class="tab star-tab btn">
            <span class="glyph glyphicons dislikes"></span>
            <span class="tab-label"></span>
        </div>
    </div>
    <div class="tab-content">
    </div>
</div>
