<div class="event-detail-tab-info">
    <div class="event-info pad">
        <div class="row pad">
            <div class="when heading"></div>
        </div>
        <div class="where selectable "></div>
        <div class="event-tags pad">
            {% for tag in model.tags %}
                <div class="tag">
                    <span class="glyph glyphicons {{ tag.glyph}}" data-name="{{ tag.name }}"></span>
                    <span class="tag-label">{{ tag.label }}</span>
                </div>
            {% endfor %}
        </div>
        <div class="what pad"></div>
    </div>
    <div class="connections pad">
        <span class="heading">Attendees</span>
        <div class="connection-info pad">
            <span class="num-attending"></span>&nbsp;attending this event. (<span class="friend-count"></span>)
        <div class="friend-list pad"></div>
        </div>
    </div>
</div>
