<div class="event-info box">
    <div class="row">
        <div class="when"></div>
    </div>
    <div class="where selectable"></div>
    <div class="what"></div>
</div>
<div class="connections box">
    <span class="heading">Connections</span>
    <div class="connection-info">
        <span class="num-attending"></span>&nbsp;attending this event
    </div>
</div>
<div class="reviews box">
    <span class="heading">Reviews</span>
    <div class="selectables">
        <div class="review selectable">
            <div class="rating">
                <span class="glyph halflings star gold"></span>
                <span class="glyph halflings star gold"></span>
                <span class="glyph halflings star gold"></span>
                <span class="glyph halflings star gold"></span>
                <span class="glyph halflings star gold"></span>
            </div>
            <div class="row">
                <div class="reviewer">Adrian Brody</div>
                <div class="date-created">4-14-14</div>
            </div>
            <div class="comment">
                Had a great time at their event last week. Pretty good place.
            </div>
        </div>
        <div class="review selectable">
            <div class="rating">
                <span class="glyph halflings star gold"></span>
                <span class="glyph halflings star"></span>
                <span class="glyph halflings star"></span>
                <span class="glyph halflings star"></span>
                <span class="glyph halflings star"></span>
            </div>
            <div class="row">
                <div class="reviewer">Adrian Brody</div>
                <div class="date-created">4-14-14</div>
            </div>
            <div class="comment">
                Could have done without the gays
            </div>
        </div>
    </div>
</div>
