<div class="event-detail">
    <div class="header row">
        <div class="back glyphicons glyphicons-right-arrow"></div>
        <div class="header-text"></div>
    </div>
    <div class="tabs row noselect">
        <div class="tab info-tab">
            <span class="glyphicons glyphicons-circle-info"></span>
            <span class="tab-label">info</span>
        </div>
        <div class="tab chat-tab">
            <span class="glyphicons glyphicons-chat"></span>
            <span class="tab-label">chat</span>
        </div>
        <div class="tab empty"></div>
        <div class="tab star-tab btn">
            <span class="glyphicons glyphicons-star-empty"></span>
            <span class="tab-label"></span>
        </div>
    </div>
    <div class="tab-content">
    </div>
</div>
