<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title></title>
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css' />
    <link type="text/css" rel="stylesheet" href="/js/jquery/ui/jquery-ui.min.css" />
    <link rel="stylesheet" href="/css/glyphicons.css" />
    <link rel="stylesheet" href="/css/halflings.css" />
    <link rel="stylesheet" href="/css/social.css" />
    <link rel="stylesheet" href="/css/filetypes.css" />
    <link type="text/css" rel="stylesheet" href="/css/site.css" />
    <link type="text/css" rel="stylesheet" href="/css/jquery/timepicker.css" />

    <script src="https://cdn.socket.io/socket.io-1.2.1.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/js/jquery/ui/jquery-ui.min.js"></script>
    <script src="/js/modernizr.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/underscore-min.js"></script>
    <script src="/js/multiselect.js"></script>
    <!--
        PROD : AIzaSyDEQiAImA3u9GB8EiF0NFMZH9Wy10AVTWg
        TEST : AIzaSyB9EARriTjyHo7LupKAHvazcG245a04c54
    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9EARriTjyHo7LupKAHvazcG245a04c54&sensor=true&libraries=geometry,places"></script>
    <script type="text/javascript" src="/js/jsatlas.js"></script>
    <script type="text/javascript" src="/js/jquery/ui/external/timepicker.js"></script>

    <!--facebook SDK-->
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- init main plugin -->
    <script type="text/javascript">
        $(function () {
            $('.jsatlas').jsatlas();
        });
    </script>
</head>
<body>
    <div class="header">
        <div class="site-logo">
            <span class="logo-title"><span class="letter">W</span><span class="rest">himdig</span></span>
        </div>
        <div class="user-controls">
            <div class="filter">
                <span class="glyph glyphicons filter"></span>
            </div>
            <div class="menu">
                <span class="glyph halflings align-justify"></span>
            </div>
        </div>
        <div class="day-select">
            <span class="prev glyph glyphicons chevron-left disabled"></span>
            <span class="current">12 hour</span>
            <span class="next glyph glyphicons chevron-right"></span>
        </div>
    </div>
    <div class="container">
        <div class="jsatlas"></div>
        <div class="detail-overlay">
            <div class="overlay-header">
                <span class="overlay-exit glyphicons chevron-right"></span>
                <span class="going glyph halflings unchecked"></span>
                <span class="overlay-title"></span>
            </div>
            <div class="overlay-body row">
            </div>
        </div>
    </div>
</body>
</html>
