<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="Shindigs, on a whim. Find local things to do, now." />
    <title>Whimdig</title>
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css' />
    <link type="text/css" rel="stylesheet" href="/js/jquery/ui/jquery-ui.min.css" />
    <link rel="stylesheet" href="/css/glyphicons.css" />
    <link type="text/css" rel="stylesheet" href="/css/site.css" />
    <link type="text/css" rel="stylesheet" href="/css/jquery/timepicker.css" />

    <!-- EXTERNAL LIBRARIES -->
    <script src="https://cdn.socket.io/socket.io-1.2.1.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/js/jquery/ui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/js/jquery/jquery.mobile.custom.min.js"></script>
    <script type="text/javascript" src="/js/jquery/ui/external/timepicker.js"></script>
    <!-- PROD : AIzaSyDEQiAImA3u9GB8EiF0NFMZH9Wy10AVTWg TEST : AIzaSyB9EARriTjyHo7LupKAHvazcG245a04c54 -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9EARriTjyHo7LupKAHvazcG245a04c54&sensor=true&libraries=geometry,places"></script>

        <!-- EXTENSIONS -->
    <script src="/js/util/extensions.js"></script>
    <script src="/js/util/underscore-min.js"></script>
    <script src="/js/util/modernizr.js"></script>
    <script src="/js/util/moment.js"></script>
    <script src="/js/util/weektime.js"></script>
    <script src="/js/util/multiselect.js"></script>

    <!-- MY SCRIPTS -->
    <script type="text/javascript" src="/js/w-map.js"></script>
    <script type="text/javascript" src="/js/w-controls.js"></script>

    <!--facebook SDK-->
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- init main plugins -->
    <script type="text/javascript">
        $(function () {
            $('.w-controls').wControls();
            $('.w-map').wMap();
        });
    </script>
</head>
<body class="w-controls">
    <div class="app-header noselect">
        <div class="app-logo">
            <span class="logo-title"><span class="letter">W</span><span class="rest">himdig</span></span>
        </div>
        <div class="user-controls">
            <div class="user-image"></div>
            <div class="menu">
                <span class="glyphicons glyphicons-menu-hamburger align-justify"></span>
            </div>
        </div>
<!--        <div class="day-select">
            <span class="prev glyph glyphicons chevron-left disabled"></span>
            <span class="current">12 hour</span>
            <span class="next glyph glyphicons chevron-right"></span>
        </div>-->
    </div>
    <div class="container">
        <div class="w-map"></div>
        <div class="overlay">
            <div class="overlay-body row">
            </div>
        </div>
    </div>
</body>
</html>
