<div class="main-menu">
    <div class="header row">
        <div class="back glyph glyphicons chevron-right"></div>
        <div class="header-text"></div>
    </div>
    <div class="tabs row noselect">
        <div class="tab find-events-tab">
            <span class="glyph glyphicons play"></span>
            <span class="tab-label">find</span>
        </div>
        <div class="tab my-events-tab">
            <span class="glyph glyphicons list"></span>
            <span class="tab-label">my events</span>
        </div>
        <div class="tab social-tab">
            <span class="glyph glyphicons message_flag"></span>
            <span class="tab-label">social</span>
        </div>
        <div class="tab empty"></div>
    </div>
    <div class="tab-content">

    </div>
</div>
