<div class="map-search row">
    <input type="text" class="searchbox" placeholder="Search for Place or Event..." />
    <span class="glyph glyphicons search"></span>
</div>
<div class="menu-items">
    <div class="create-event selectable">
        <span class="glyph glyphicons plus"></span><span class="heading">Create an Event</span>
    </div>
    <div class="schedule box">
        <span class="heading">Schedule</span>
        <div class="events"></div>
        <div class="link past-events selectable">view past events</div>
        <div class="link manage-events selectable">manage my events</div>
    </div>
    <div class="connections box">
        <span class="heading">Connections</span>
        <div class="fb-connections">
            <div class="turq">You have <span class="friend-count"></span> using weigos.</div>
            <div class="friend-list"></div>
        </div>
        <!--            <div class="tw-connections selectable">
                <div class="turq">Twitter not synced</div>
            </div>
            <div class="g-connections">
                <div class="turq selectable">Google not synced</div>
            </div>-->
    </div>
    <div class="account box">
        <span class="heading">Account</span>
        <div class="selectables">
            <div class="link privacy-settings selectable">
                Privacy Settings
            </div>
            <div class="link account-settings selectable">
                Account Settings
            </div>
        </div>
    </div>
</div>
<div class="synced-accounts">
    <span class="heading">Synced Accounts</span>
    <hr />
    <div class="facebook-logo glyph social facebook" data-value="facebook"></div>
    <div class="twitter-logo glyph social twitter not-synced" data-value="twitter"></div>
    <div class="google-logo glyph social google_plus not-synced" data-value="google"></div>
</div>
