<div class="menu-tab-events">
    <div class="row tab-header noselect">
        <div class="create-event selectable inline half header-item">
            <span class="glyphicons glyphicons-plus"></span>
            <span class="glyph-label">create an event</span>
        </div>
        <div class="past-events selectable inline half header-item">
            <span class="glyphicons glyphicons-list"></span>
            <span class="glyph-label">view past events</span>
        </div>
    </div>
    <div class="events sidepad">
    </div>
</div>
