<div class="menu-tab-find">
    <div class="find-events-header row noselect tab-header">
        <div class="event-count header-item-empty">0</div>
        <div class="find-event-filters">
            <div class="tag-filter selectable inline third header-item">
                <span class="glyph glyphicons filter"></span>
                <span class="glyph-label">all types</span>
            </div>
            <div class="span-filter selectable inline third header-item">
                <span class="glyph glyphicons clock"></span>
                <span class="glyph-label">12 hours</span>
            </div>
            <div class="radius-filter selectable inline third header-item">
                <span class="glyph glyphicons google_maps"></span>
                <span class="glyph-label">10 miles</span>
            </div>
        </div>
    </div>
    <div class="events sidepad">
    </div>
</div>
