<div class="menu-tab-social">
    <div class="row tab-header noselect">
        <div class="create-event selectable inline half header-item">
            <span class="glyphicons glyphicons-message-plus"></span>
            <span class="glyph-label">new message</span>
        </div>
        <div class="invite selectable inline half header-item">
            <span class="glyphicons glyphicons-user-add"></span>
            <span class="glyph-label">invite</span>
        </div>
    </div>
    <div class="mailbox sidepad">
        {% for mail in model %}
        <div class="mail selectable" data-id="{{mail._id}}" data-viewed="{{mail.viewed}}">
            <span class="glyphicons selectable-label"></span>
            <span class="glyph-label">
                {{mail.to_label}}<br />
                {{mail.subject}}
            </span>
        </div>
        {% endfor %}
    </div>
</div>
