<div class="menu-tab-social">
    <div class="row tab-header noselect">
        <div class="create-event selectable inline half header-item">
            <span class="glyph glyphicons message_plus"></span>
            <span class="glyph-label">new message</span>
        </div>
        <!--<div class="messages selectable inline half header-item">
            <span class="glyph glyphicons message_flag"></span>
            <span class="glyph-label">your messages</span>
        </div>-->
        <div class="invite selectable inline half header-item">
            <span class="glyph glyphicons user_add"></span>
            <span class="glyph-label">invite</span>
        </div>
    </div>
    <div class="messages sidepad"></div>
</div>
