<div class="header row">
    <div class="back glyph glyphicons chevron-left"></div>
    <div class="header-text"></div>
</div>
<div class="event-detail pad">
    <div class="event-info box">
        <div class="row">
            <div class="when heading">
                <span class="dateformat" data-format="casual">{{model.start}}</span> - <span class="dateformat" data-format="casual">{{model.end}}</span>
                <div class="intensity">
                    {% if model.intensity_variable == "end" %}
                        <span>show up any time before end</span>
                    {% else %}
                        <span>show up before start</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="where selectable" data-id="{{model.place._id}}" data-created_by="{{model.created_by}}">
            <div class="place">{{model.place.name}}</div>
            <div class="address">{{model.place.vicinity}}</div>
        </div>
        <div class="what pad">{{model.desc}}</div>
    </div>
    <div class="connections box">
        <span class="heading">Attendees</span>
        <div class="connection-info">
            <span class="num-attending"></span>&nbsp;attended this event. (<span class="friend-count"></span>)
        <div class="friend-list"></div>
        </div>
    </div>
    <div class="chat">
        <div class="chat-list"></div>
    </div>
</div>
