<div class="header row">
    <div class="back glyph glyphicons chevron-right"></div>
    <div class="header-text"></div>
</div>
<div class="place-detail pad">
    <div class="place-info box">
        <div class="where pad"></div>
        <div class="what"></div>
    </div>
    <div class="place-upcoming-events box">
        <span class="heading">Upcoming Events</span>
        <div class="upcoming-events"></div>
    </div>
    <div class="place-past-events box">
        <span class="heading">Past Events</span>
        <div class="past-events"></div>
    </div>
</div>
