@black-accent: #111;
@darker: #444;
@dark: #666;
@light: #ccc;
@lightest: #efefef;
@blue: #0094ff;
@turq: #005588;
@green: #009900;
@gold: #ddbb33;
@blue-accent: #21b4ff;
@light-blue: #dfefff;
@light-turq: #efffff;
@light-green: #cfefef;
@light-gold: #ffffef;
@ui-element: #dfeffc;
@ui-element-accent: #d0e5f5;

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,
body,
.container {
    height: 100%;
    //font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

input[type="text"], textarea, select {
    border-radius: 5px;
    border: 1px solid @blue;
    color: @light-blue;
    padding: 5px 10px;
    line-height: 2;
    font-size: 14px;

    &:focus {
        border-radius: 5px;
        border: 1px solid @blue-accent;
    }
}

&.val-error {
    border-color: red !important;
}

.ui-widget {
    font-size: 14px;
}

.ui-selectmenu-button {
    padding: 0;
    border-radius: 5px;
    border: 1px solid @blue;

    &.ui-corner-top {
        border-radius: 5px 5px 0 0;
        border-bottom: 1px solid @black-accent;
    }

    .ui-icon {
        cursor: pointer;
        right: 0.5em;
        left: auto;
        margin-top: 0;
        position: absolute;
        top: 10px;
    }

    span.ui-selectmenu-text {
        color: @light-blue;
        padding: 5px 10px;
        line-height: 24px;
        font-size: 1em;
    }
}

.ui-selectmenu-menu {
    border: 1px solid @blue;
    border-top: none;

    &.ui-selectmenu-open {

        .ui-widget-content {
            background: none;
            background-color: @black-accent;
            border: none;
            border-top: none;

            .ui-menu-item {
                background: none;
                background-color: @black-accent;
                color: #999;
                border: none;
                padding: 5px 10px;
                list-style-image: none;

                &.ui-state-focus {
                    background: none;
                    border: none;
                    background-color: @black-accent;
                    color: @blue-accent;
                    margin: 0;
                }

                &:last-child {
                    border-bottom: none;
                }

                &.ui-state-disabled {
                    display: none;
                }
            }
        }
    }
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    font-weight: normal;
}

label {
    color: @blue;
    display: block;
    cursor: pointer;
}

button, input[type="button"] {
    width: 100%;
    border-radius: 2px;
    border: 1px solid @blue;
    background-color: @blue;
    color: white;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
        opacity: 1;
        border: 1px solid @blue;
        background-color: @blue-accent;
    }
}

.multi {
    position: relative;
    width: 100%;
    border-radius: 5px;
    border: 1px solid @blue;
    color: @light-blue;
    margin-bottom: 10px;

    .ui-icon {
        cursor: pointer;
        right: 0.5em;
        left: auto;
        position: absolute;
        top: 10px;
    }

    .label {
        color: @light-blue;
        font-size: 14px;
        line-height: 2;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    .options {
        background-color: @black-accent;
        display: none;
        max-height: 300px;
        overflow-y: scroll;

        .option {
            display: block;
            padding: 10px;
            cursor: pointer;
            border-bottom: 1px solid @darker;

            .glyph {
                padding: 25px;

                &::before {
                    font-size: 50px;
                }
            }

            &:not(.selected) {

                .glyph::before {
                    color: @dark;
                }

                .option-text {
                    color: @dark;
                }
            }

            &.selected {
                .glyph::before {
                    color: @blue;
                }

                .option-text {
                    color: @blue;
                }
            }

            &:hover {
                .option-text, .glyph::before {
                    color: @blue-accent;
                }
            }

            &:last-child {
                border-bottom: none;
            }
        }

        .option::after {
            content: " ";
            display: table;
            clear: both;
        }

        &::-webkit-scrollbar {
            width: 3px;
        }

        &::-webkit-scrollbar-track {
            background-color: @turq;
        }

        &::-webkit-scrollbar-track-piece {
        }

        &::-webkit-scrollbar-thumb {
            background-color: @blue;
        }
    }

    &:hover {

        .label {
            background: #d0e5f5;
        }
    }
}

.remove.glyph {
    padding: 12px;
    cursor: pointer;

    &::before {
        color: red;
        font-size: 24px;
    }
}

.form-label {
    color: @blue;
    font-size: 12px;
    text-transform: uppercase;
}

.form-input {
    margin-bottom: 10px;

    input[type="text"], textarea, select, .ui-selectmenu-button, .ui-selectmenu-text, .multi .label {
        background-color: @black-accent;
        width: 100% !important;
    }
}

.map-search {
    display: none;

    .glyph {
        padding: 12px;
        cursor: pointer;

        &::before {
            color: @blue;
            font-size: 24px;
        }
    }
}

.pad {
    padding: 10px;
}

.glyph-aligner {
    position: relative;
    top: 3px;
}

.header {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 55px;
    background-color: @darker;
    padding: 10px 12px 10px 10px;
    color: @blue;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:after {
        content: " ";
        display: table;
        clear: both;
    }

    .glyph::before {
        font-size: 24px;
        color: @blue;
    }

    .glyph.disabled::before {
        color: @dark;
    }

    .glyph {
        padding: 12px;
        cursor: pointer;

        &.disabled {
            cursor: default;
        }
    }

    > .site-logo {
        float: left;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
        padding: 5px;

        > .logo-title {
            top: -5px;
            position: relative;

            .letter {
                font-family: 'Indie Flower', cursive;
                line-height: 24px;
                font-size: 36px;
            }
            .rest {}
        }

        .glyph::before {
            font-size: 16px;
        }

        .glyph {
            top: 0px;
            margin: 0;
            padding: 8px;
        }
    }

    .user-controls {
        top: 3px;
        float: right;
        position: relative;

        > div {
            display: inline-block;
            padding: 0 15px;
            border-right: 1px solid @blue;

            &.map-search {
                padding: 0 15px 0 0;

                input {
                    position: relative;
                    border-radius: 3px;
                    padding: 3px 7px;
                    font-size: 1em;
                }
            }

            &:last-child {
                border-right: 0;
                padding-right: 5px;
            }
        }
    }

    .day-select {
        display: inline-block;
        float: right;
        position: relative;
        top: 4px;
        margin: 0 2%;

        .current {
            width: 55px;
            text-align: center;
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
        }
    }

    #login-popup-hack {
        float: right;
    }
}

.detail-overlay {
    position: absolute;
    background-color: black;
    opacity: .9;
    overflow-y: scroll;
    //float: right;
    transition: width .2s;
    -moz-transition: width .2s; /* Firefox 4 */
    -webkit-transition: width .2s; /* Safari and Chrome */
    -o-transition: width .2s; /* Opera */
    width: 0;
    height: 100%;
    top: 0;
    padding-top: 55px;
    right: 0;
    margin: 0;
    z-index: 2;
    box-shadow: 1px 1px 20px 0px @turq inset;
    color: @blue;

    .overlay-header {
        padding: 10px;
        display: block;

        .overlay-title {
            position: relative;
            font-size: 26px;
            color: @blue;
        }

        .going {
            float: right;
            padding: 18px;
            cursor: pointer;
        }

        .going::before {
            color: @blue;
            font-size: 36px;
        }

        .overlay-exit::before {
            color: @blue;
            font-size: 36px;
        }

        .overlay-exit {
            cursor: pointer;
            padding: 18px;
            float: left;
            margin-left: -10px;
        }
    }

    .overlay-body {
        padding: 0 10px;
        display: block;

        .link {
            color: @blue;
            font-size: 14px;
            cursor: pointer;
        }

        .box {
            border-top: 1px solid @darker;
            //padding-bottom: 10px;
            .selectable {
                margin: 0 -10px;
            }
        }

        .selectable {
            padding: 15px 10px 15px 30px;
            cursor: pointer;
            //border-bottom: 1px solid @light;
            &:hover {
                color: @blue-accent !important;

                .glyph::before {
                    color: @blue-accent !important;
                }
                //background-color: @light-blue; //@light-gold;
                background-color: @black-accent;
            }

            &:last-child {
                border-bottom: none;
            }

            &.small {
                padding: 10px 10px 10px 20px;
            }
        }

        .heading {
            display: block;
            color: @blue;
            font-weight: bold;
            padding: 10px 0;
        }

        .page {
            overflow: hidden;
            float: right;
            width: 0;
            height: 100%;
            right: 0;
            padding: 0;
            margin: 0;

            &.show {
                width: 100%;
            }
        }

        .set-filters {

            .tag {
                display: block;
                width: 50%;
                float: left;
                padding: 20px 20px 20px 15px;
                cursor: pointer;
                text-align: center;

                .glyph {
                    display: block;
                    width: 50px;
                    margin: 0 auto;
                    padding: 0;

                    &::before {
                        position: relative;
                        margin: 0 auto;
                        font-size: 50px;
                    }

                    &::after {
                        content: " ";
                        display: table;
                        clear: both;
                    }
                }

                .tag-label {
                    width: 100%;
                }

                &:not(.disabled) {
                    .glyph::before {
                        color: @blue;
                    }

                    .tag-label {
                        color: @blue;
                    }
                }

                &.disabled {
                    .glyph::before {
                        color: @darker;
                    }

                    .tag-label {
                        color: @darker;
                    }
                }

                &:hover {
                    background-color: @black-accent;

                    .glyph::before {
                        color: @blue-accent;
                    }

                    .tag-label {
                        color: @blue-accent;
                    }

                    &.disabled {
                        .glyph::before {
                            color: @light;
                        }

                        .tag-label {
                            color: @light;
                        }
                    }
                }
            }

            .tag::after {
                content: " ";
                display: table;
                clear: both;
            }
        }

        .event-detail, .place-detail {

            .event-info {

                .when {
                    font-weight: bold;

                    .intensity {
                        font-weight: normal;
                        font-style: italic;
                    }
                }

                .where {

                    .place {
                        font-weight: bold;
                    }
                }

                .event-tags {
                    .tag {
                        display: inline-block;
                        padding: 10px 0;
                        margin-right: 10px;

                        .glyph {
                            padding: 15px;

                            &::before {
                                font-size: 30px;
                                color: @blue;
                            }
                        }

                        .tag-label {
                            display: none;
                            color: @blue;
                        }
                    }

                    .tag::after {
                        content: " ";
                        display: table;
                        clear: both;
                    }
                }

                .what {
                }
            }

            .chat {

                > .row {
                    padding: 0 30px 5px 55px;

                    .fb-photo {
                        margin-left: -55px;
                    }

                    .chat-input {
                        width: 100%;
                        margin: 5px 0 0 0;
                        background-color: @black-accent;
                    }

                    .glyph {
                        float: right;
                        margin: 12px -30px 0 0;
                        padding: 14px;
                        cursor: pointer;

                        &::before {
                            color: @blue;
                            font-size: 28px;
                        }
                    }
                }

                .fb-photo {
                    float: left;
                    height: 50px;
                }

                .chat-list {
                    padding: 10px 0;

                    .fb-photo {
                        margin: 0 10px 10px 0;
                    }

                    .chat-msg {

                        &:not(:last-child) {
                            padding-bottom: 5px;
                            border-bottom: 1px solid @darker;
                        }

                        &:not(:first-child) {
                            padding-top: 5px;
                        }

                        .chat-photo {
                            float: left;
                            height: 50px;
                            margin: 0 10px 0 0;
                        }

                        .message-date {
                            float: right;
                            font-style: italic;
                            padding: 0 0 5px 5px;
                        }

                        .message-text {
                            padding: 2px 0 2px 0;
                        }
                    }
                }
            }
        }

        .main-menu {

            .map-search {
                margin-bottom: 5px;

                input {
                    padding: 10px;
                    font-size: 16px;
                    width: 90%;
                }

                .glyph {
                    padding: 14px;
                    cursor: pointer;

                    &::before {
                        color: @blue;
                        font-size: 28px;
                    }
                }
            }

            .menu-items {

                .create-event {
                    margin: 0 -10px;
                    color: @blue;
                    font-weight: bold;

                    .heading {
                        position: relative;
                        top: 3px;
                        font-weight: normal;
                        font-size: 16px;
                        margin-left: 5px;
                    }

                    .glyph {
                        padding: 12px;

                        &::before {
                            color: @blue;
                            font-size: 24px;
                        }
                    }
                }

                .schedule {
                }

                .connections {

                    > div > div {
                        color: @blue;
                        font-size: 14px;
                    }
                }
            }

            .synced-accounts {
                text-align: center;

                .heading {
                    color: @dark;
                }

                .glyph::before {
                    font-size: 80px;
                    width: 77px;
                    height: 77px;
                    position: relative;
                    border-radius: 7px;
                    padding: 0;
                }

                .glyph.not-synced::before {
                    opacity: .6;
                    color: @dark;
                    /*cursor: pointer;*/
                }
                /*.glyph.not-synced:hover {

                    &.facebook-logo::before {
                        color: #3B5998;
                        background-color: #fff;
                    }

                    &.google-logo::before {
                        color: #d34836;
                        background-color: #2d2d2d;
                    }

                    &.twitter-logo::before {
                        color: #4099FF;
                        background-color: #fff;
                    }
                }*/
                .glyph {
                    padding: 0 10px;
                }
            }
        }

        .event-list {

            .event {

                .name {
                    float: left;
                }

                .date-range {
                    float: right;
                    font-style: italic;
                }
            }
        }
    }

    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-track {
        background-color: @turq;
    }

    &::-webkit-scrollbar-track-piece {
    }

    &::-webkit-scrollbar-thumb {
        background-color: @blue;
    }
}

.container {
    z-index: 1;
    padding-top: 55px;

    &.show-overlay {

        .detail-overlay {
            width: 40%;
            //height: 100%;
        }
    }
}

.row:after {
    content: " ";
    display: table;
    clear: both;
}

.green {
    color: @green !important;

    &.glyph::before {
        color: @green !important;
    }
}

.right {
    float: right;
}

.jsatlas {
    transition: width .5s;
    -moz-transition: width .5s; /* Firefox 4 */
    -webkit-transition: width .5s; /* Safari and Chrome */
    -o-transition: width .5s; /* Opera */
    float: left;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.error-message {
    color: red;
}

.center {
    text-align: center;
}

.facebook-logo::before {
    color: #3B5998;
    background-color: #fff;
}

.google-logo::before {
    color: #d34836;
    background-color: #2d2d2d;
}

.twitter-logo::before {
    color: #4099FF;
    background-color: #fff;
}

@media all and (max-width: 1200px) {
    .container {

        &.show-overlay {

            .detail-overlay {

                .overlay-body {

                    .event-list {

                        .name {
                            float: none;
                        }

                        .date-range {
                            float: none;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 640px) {

    .container.show-overlay {

        .detail-overlay {
            width: 100%;
        }
    }

    .header {

        > .site-logo {

            > .logo-title {

                .letter {}

                .rest {
                    display:none;
                }
            }
        }
    }
}
