* {
  box-sizing: border-box;
}
html,
body,
.container {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
body {
  margin: 0;
}
input[type="text"],
textarea,
select {
  border-radius: 5px;
  border: 1px solid #0094ff;
  color: #005588;
  padding: 0.4em 2.1em 0.4em 1em;
  line-height: 1.4;
  font-size: 1.1em;
}
input[type="text"].error,
textarea.error,
select.error {
  border-color: red;
}
.ui-widget {
  font-size: 1em;
}
.ui-selectmenu-button {
  padding: 0;
  border-radius: 5px;
  border: 1px solid #0094ff;
}
.ui-selectmenu-button.ui-corner-top {
  border-radius: 5px 5px 0 0;
  border-bottom: none;
}
.ui-selectmenu-button .ui-icon {
  cursor: pointer;
  right: 0.5em;
  left: auto;
  margin-top: 0;
  position: absolute;
  top: 10px;
}
.ui-selectmenu-button span.ui-selectmenu-text {
  color: #005588;
  padding: 5px 10px;
  line-height: 24px;
  font-size: 1em;
}
.ui-selectmenu-open .ui-widget-content {
  border: 1px solid #0094ff;
  border-top: none;
}
.ui-selectmenu-open .ui-widget-content .ui-menu-item {
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #d0e5f5;
  border-left: none;
  padding: 5px 10px;
}
.ui-selectmenu-open .ui-widget-content .ui-menu-item.ui-state-focus {
  margin: 0;
}
.ui-selectmenu-open .ui-widget-content .ui-menu-item:last-child {
  border-bottom: none;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  font-weight: normal;
}
label {
  color: #005588;
  display: block;
  cursor: pointer;
}
button,
input[type="button"] {
  width: 100%;
  border-radius: 2px;
  border: 1px solid #005588;
  background-color: #005588;
  color: white;
  padding: 10px;
  margin: 10px 0;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
}
button:hover,
input[type="button"]:hover {
  opacity: 1;
  border: 1px solid #0094ff;
  background-color: #21b4ff;
}
.multi {
  position: relative;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #0094ff;
  color: white;
  margin: 10px 0;
}
.multi .ui-icon {
  cursor: pointer;
  right: 0.5em;
  left: auto;
  position: absolute;
  top: 10px;
}
.multi .label {
  color: #005588;
  padding: 5px 10px;
  border: 1px solid #c5dbec;
  background: #dfeffc;
  cursor: pointer;
}
.multi .options {
  background-color: #fff;
  display: none;
  max-height: 300px;
  overflow-y: scroll;
}
.multi .options .option {
  display: block;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #dfeffc;
}
.multi .options .option .glyph {
  padding: 25px;
}
.multi .options .option .glyph::before {
  font-size: 50px;
}
.multi .options .option:not(.selected) .glyph::before {
  color: #cccccc;
}
.multi .options .option:not(.selected) .option-text {
  color: #cccccc;
}
.multi .options .option.selected .glyph::before {
  color: #005588;
}
.multi .options .option.selected .option-text {
  color: #005588;
}
.multi .options .option:hover {
  background-color: #d0e5f5;
}
.multi .options .option:hover .option-text,
.multi .options .option:hover .glyph::before {
  color: #21b4ff;
}
.multi .options .option:last-child {
  border-bottom: none;
}
.multi .options .option::after {
  content: " ";
  display: table;
  clear: both;
}
.multi:hover .label {
  background: #d0e5f5;
}
.remove.glyph {
  padding: 12px;
  cursor: pointer;
}
.remove.glyph::before {
  color: red;
  font-size: 24px;
}
.form-label {
  color: #005588;
  font-size: 12px;
  text-transform: uppercase;
}
.form-input {
  margin-bottom: 10px;
}
.form-input input[type="text"],
.form-input textarea,
.form-input select,
.form-input .ui-selectmenu-button {
  width: 100% !important;
}
.map-search {
  display: none;
}
.map-search .glyph {
  padding: 12px;
  cursor: pointer;
}
.map-search .glyph::before {
  color: #005588;
  font-size: 24px;
}
.header {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 55px;
  background-color: #444444;
  padding: 10px 1%;
  color: #0094ff;
  border-bottom: 3px solid #0094ff;
}
.header:after {
  content: " ";
  display: table;
  clear: both;
}
.header .glyph::before {
  font-size: 24px;
  color: #0094ff;
}
.header .glyph.disabled::before {
  color: #666666;
}
.header .glyph {
  padding: 12px;
  cursor: pointer;
}
.header .glyph.disabled {
  cursor: default;
}
.header > .site-logo {
  float: left;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 3px;
}
.header > .site-logo > .logo-title {
  top: -5px;
  position: relative;
}
.header > .site-logo .glyph::before {
  font-size: 16px;
}
.header > .site-logo .glyph {
  top: 1px;
  margin: 0;
  padding: 8px;
}
.header .user-controls {
  top: 3px;
  float: right;
  position: relative;
}
.header .user-controls > div {
  display: inline-block;
  padding: 0 15px;
  border-right: 1px solid #0094ff;
}
.header .user-controls > div.map-search {
  padding: 0 15px 0 0;
}
.header .user-controls > div.map-search input {
  position: relative;
  border-radius: 3px;
  padding: 3px 7px;
  font-size: 1em;
}
.header .user-controls > div:last-child {
  border-right: 0;
  padding-right: 5px;
}
.header .day-select {
  display: inline-block;
  float: right;
  position: relative;
  top: 4px;
  margin: 0 2%;
}
.header .day-select .current {
  width: 70px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
}
.header #login-popup-hack {
  float: right;
}
.detail-overlay {
  overflow-y: scroll;
  float: right;
  background-color: #fff;
  transition: width .5s;
  -moz-transition: width .5s;
  /* Firefox 4 */
  -webkit-transition: width .5s;
  /* Safari and Chrome */
  -o-transition: width .5s;
  /* Opera */
  width: 0;
  height: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: 2;
  border-left: 3px solid #005588;
}
.detail-overlay .overlay-header {
  padding: 10px;
  display: block;
}
.detail-overlay .overlay-header .overlay-title {
  position: relative;
  font-size: 26px;
  color: #005588;
}
.detail-overlay .overlay-header .going {
  float: right;
  padding: 18px;
  cursor: pointer;
}
.detail-overlay .overlay-header .going::before {
  color: #005588;
  font-size: 36px;
}
.detail-overlay .overlay-header .overlay-exit::before {
  color: #005588;
  font-size: 36px;
}
.detail-overlay .overlay-header .overlay-exit {
  cursor: pointer;
  padding: 18px;
  float: left;
  margin-left: -10px;
}
.detail-overlay .overlay-body {
  display: block;
}
.detail-overlay .overlay-body .link {
  color: #005588;
  font-size: 14px;
  cursor: pointer;
}
.detail-overlay .overlay-body .box {
  margin: 0 -10px;
  padding: 10px;
  border-top: 1px solid #cccccc;
}
.detail-overlay .overlay-body .box .selectable {
  margin: 0 -10px;
}
.detail-overlay .overlay-body .selectable {
  padding: 10px;
  cursor: pointer;
}
.detail-overlay .overlay-body .selectable:hover {
  background-color: #ffffef;
}
.detail-overlay .overlay-body .selectable:last-child {
  border-bottom: none;
}
.detail-overlay .overlay-body .heading {
  color: #005588;
  font-weight: bold;
}
.detail-overlay .overlay-body .page {
  overflow: hidden;
  float: right;
  width: 0;
  height: 100%;
  right: 0;
  padding: 0;
  margin: 0;
}
.detail-overlay .overlay-body .page.show {
  width: 100%;
  padding: 0 10px;
}
.detail-overlay .overlay-body .set-filters .tag {
  display: block;
  padding: 10px 0;
  cursor: pointer;
}
.detail-overlay .overlay-body .set-filters .tag .glyph {
  padding: 25px;
}
.detail-overlay .overlay-body .set-filters .tag .glyph::before {
  font-size: 50px;
}
.detail-overlay .overlay-body .set-filters .tag:not(.disabled) .glyph::before {
  color: #005588;
}
.detail-overlay .overlay-body .set-filters .tag:not(.disabled) .tag-label {
  color: #005588;
}
.detail-overlay .overlay-body .set-filters .tag.disabled .glyph::before {
  color: #cccccc;
}
.detail-overlay .overlay-body .set-filters .tag.disabled .tag-label {
  color: #cccccc;
}
.detail-overlay .overlay-body .set-filters .tag.disabled:hover .glyph::before {
  color: #21b4ff;
}
.detail-overlay .overlay-body .set-filters .tag:hover .tag-label {
  color: #21b4ff;
}
.detail-overlay .overlay-body .set-filters .tag::after {
  content: " ";
  display: table;
  clear: both;
}
.detail-overlay .overlay-body .event-detail .event-info .when {
  color: #005588;
  font-weight: bold;
}
.detail-overlay .overlay-body .event-detail .event-info .when .intensity {
  font-weight: normal;
  font-style: italic;
}
.detail-overlay .overlay-body .event-detail .event-info .where .place {
  color: #005588;
}
.detail-overlay .overlay-body .event-detail .event-info .event-tags .tag {
  display: inline-block;
  padding: 10px 0;
  margin-right: 10px;
}
.detail-overlay .overlay-body .event-detail .event-info .event-tags .tag .glyph {
  padding: 15px;
}
.detail-overlay .overlay-body .event-detail .event-info .event-tags .tag .glyph::before {
  font-size: 30px;
  color: #005588;
}
.detail-overlay .overlay-body .event-detail .event-info .event-tags .tag .tag-label {
  display: none;
  color: #005588;
}
.detail-overlay .overlay-body .event-detail .event-info .event-tags .tag::after {
  content: " ";
  display: table;
  clear: both;
}
.detail-overlay .overlay-body .event-detail .chat .glyph {
  padding: 14px;
  cursor: pointer;
}
.detail-overlay .overlay-body .event-detail .chat .glyph::before {
  color: #005588;
  font-size: 28px;
}
.detail-overlay .overlay-body .event-detail .chat .fb-photo {
  float: left;
  height: 50px;
  margin: 0 10px 10px 0;
}
.detail-overlay .overlay-body .event-detail .chat .chat-input {
  margin: 5px 0 0 0;
}
.detail-overlay .overlay-body .event-detail .chat .chat-list {
  height: 450px;
  border: 1px solid #0094ff;
  border-radius: 5px;
  overflow-y: scroll;
}
.detail-overlay .overlay-body .event-detail .chat .chat-list .chat-msg {
  padding: 5px 0 0 5px;
}
.detail-overlay .overlay-body .event-detail .chat .chat-list .chat-msg .chat-photo {
  float: left;
  height: 50px;
  margin: 0 10px 0 0;
}
.detail-overlay .overlay-body .event-detail .chat .chat-list .chat-msg .message-text {
  padding: 2px 0 2px 0;
}
.detail-overlay .overlay-body .main-menu .map-search {
  margin-bottom: 5px;
}
.detail-overlay .overlay-body .main-menu .map-search input {
  padding: 10px;
  font-size: 16px;
  width: 90%;
}
.detail-overlay .overlay-body .main-menu .map-search .glyph {
  padding: 14px;
  cursor: pointer;
}
.detail-overlay .overlay-body .main-menu .map-search .glyph::before {
  color: #005588;
  font-size: 28px;
}
.detail-overlay .overlay-body .main-menu .menu-items .create-event {
  margin: 0 -10px;
  color: #005588;
}
.detail-overlay .overlay-body .main-menu .menu-items .create-event .heading {
  position: relative;
  top: 3px;
  font-weight: normal;
  font-size: 16px;
  margin-left: 5px;
}
.detail-overlay .overlay-body .main-menu .menu-items .create-event .glyph {
  padding: 12px;
}
.detail-overlay .overlay-body .main-menu .menu-items .create-event .glyph::before {
  color: #005588;
  font-size: 24px;
}
.detail-overlay .overlay-body .main-menu .menu-items .connections > div > div {
  color: #005588;
  font-size: 14px;
}
.detail-overlay .overlay-body .main-menu .synced-accounts {
  text-align: center;
  margin-top: 20px;
  /*.glyph.not-synced:hover {

                    &.facebook-logo::before {
                        color: #3B5998;
                        background-color: #fff;
                    }

                    &.google-logo::before {
                        color: #d34836;
                        background-color: #2d2d2d;
                    }

                    &.twitter-logo::before {
                        color: #4099FF;
                        background-color: #fff;
                    }
                }*/
}
.detail-overlay .overlay-body .main-menu .synced-accounts .heading {
  color: #666666;
}
.detail-overlay .overlay-body .main-menu .synced-accounts .glyph::before {
  font-size: 80px;
  width: 78px;
  height: 78px;
  position: relative;
  border-radius: 7px;
  padding: 0;
}
.detail-overlay .overlay-body .main-menu .synced-accounts .glyph.not-synced::before {
  opacity: .6;
  color: #666666;
  /*cursor: pointer;*/
}
.detail-overlay .overlay-body .main-menu .synced-accounts .glyph {
  padding: 0 10px;
}
.detail-overlay .overlay-body .event-list .event .name {
  float: left;
  color: #005588;
}
.detail-overlay .overlay-body .event-list .event .date-range {
  float: right;
  font-style: italic;
}
.detail-overlay .overlay-body .reviews .review .rating,
.detail-overlay .overlay-body .add-review .review .rating {
  margin-bottom: -5px;
}
.detail-overlay .overlay-body .reviews .review .rating .star,
.detail-overlay .overlay-body .add-review .review .rating .star {
  padding: 12px;
  margin-right: -10px;
}
.detail-overlay .overlay-body .reviews .review .rating .star:last-child,
.detail-overlay .overlay-body .add-review .review .rating .star:last-child {
  margin-right: 0;
}
.detail-overlay .overlay-body .reviews .review .rating .star::before,
.detail-overlay .overlay-body .add-review .review .rating .star::before {
  font-size: 20px;
  margin: 0;
  color: #666666;
}
.detail-overlay .overlay-body .reviews .review .rating .star.star.gold::before,
.detail-overlay .overlay-body .add-review .review .rating .star.star.gold::before {
  color: #ddbb33;
}
.detail-overlay .overlay-body .reviews .review .reviewer,
.detail-overlay .overlay-body .add-review .review .reviewer {
  float: left;
  font-style: italic;
}
.detail-overlay .overlay-body .reviews .review .date-created,
.detail-overlay .overlay-body .add-review .review .date-created {
  float: right;
  font-style: italic;
}
.detail-overlay .overlay-body .reviews.add-review .review .rating,
.detail-overlay .overlay-body .add-review.add-review .review .rating {
  margin: 10px 0;
}
.detail-overlay .overlay-body .reviews.add-review .review .rating .star,
.detail-overlay .overlay-body .add-review.add-review .review .rating .star {
  cursor: pointer;
}
.detail-overlay::-webkit-scrollbar {
  width: 3px;
}
.detail-overlay::-webkit-scrollbar-track {
  background-color: #005588;
}
.detail-overlay::-webkit-scrollbar-thumb {
  background-color: #0094ff;
}
.container {
  z-index: 1;
  padding-top: 55px;
}
.container.show-overlay .jsatlas {
  width: 60%;
  height: 100%;
}
.container.show-overlay .detail-overlay {
  width: 40%;
  height: 100%;
}
.row:after {
  content: " ";
  display: table;
  clear: both;
}
.turq {
  color: #005588;
}
.turq.glyph::before {
  color: #005588;
}
.green {
  color: #009900 !important;
}
.green.glyph::before {
  color: #009900 !important;
}
.right {
  float: right;
}
.jsatlas {
  transition: width .5s;
  -moz-transition: width .5s;
  /* Firefox 4 */
  -webkit-transition: width .5s;
  /* Safari and Chrome */
  -o-transition: width .5s;
  /* Opera */
  float: left;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.error {
  color: red;
}
.center {
  text-align: center;
}
.ui-widget-overlay {
  background: none;
  background-color: black;
  opacity: .5;
}
.ui-dialog {
  padding: 0;
  border: 0;
}
.ui-corner-all {
  border-radius: 0;
}
.ui-widget-header {
  background: #444;
  border: 0;
}
.facebook-logo::before {
  color: #3B5998;
  background-color: #fff;
}
.google-logo::before {
  color: #d34836;
  background-color: #2d2d2d;
}
.twitter-logo::before {
  color: #4099FF;
  background-color: #fff;
}
@media all and (max-width: 1200px) {
  .container.show-overlay .detail-overlay .overlay-body .event-list .name {
    float: none;
  }
  .container.show-overlay .detail-overlay .overlay-body .event-list .date-range {
    float: none;
  }
}
@media all and (max-width: 640px) {
  .container.show-overlay .jsatlas {
    float: left;
    width: 0;
    height: 0;
  }
  .container.show-overlay .detail-overlay {
    width: 100%;
    border-left: 3px solid #0094ff;
  }
  .container.show-overlay .detail-overlay .overlay-body .main-menu .map-search {
    display: block;
  }
  .container.show-overlay .detail-overlay .set-filters .set-filter {
    display: inline-block;
    padding: 20px;
    cursor: pointer;
  }
  .container.show-overlay .detail-overlay .set-filters .set-filter .glyph {
    padding: 50px;
  }
  .container.show-overlay .detail-overlay .set-filters .set-filter .glyph::before {
    font-size: 100px;
  }
  .container.show-overlay .detail-overlay .set-filters .set-filter .filter-text {
    display: none;
  }
  .header .user-controls div.map-search {
    display: none;
  }
}
