* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
html,
body,
.container {
  height: 100%;
}
body {
  margin: 0;
  font-size: 14px;
  min-width: 270px;
}
.ui-effects-wrapper {
  display: inline;
}
input[type="text"],
textarea,
select {
  border-radius: 5px;
  border: 1px solid #0094ff;
  color: #9fd0f0;
  padding: 5px 10px;
  line-height: 2;
  font-size: 14px;
  background-color: #111111;
  width: 100% !important;
}
input[type="text"]:focus,
textarea:focus,
select:focus {
  border-radius: 5px;
  border: 1px solid #21b4ff;
}
.val-error {
  border-color: red !important;
}
.ui-widget {
  font-size: 14px;
}
.ui-selectmenu-button {
  padding: 0;
  border-radius: 5px;
  border: 1px solid #0094ff;
}
.ui-selectmenu-button.ui-corner-top {
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #111111;
}
.ui-selectmenu-button .ui-icon {
  cursor: pointer;
  right: 0.5em;
  left: auto;
  margin-top: 0;
  position: absolute;
  top: 10px;
}
.ui-selectmenu-button span.ui-selectmenu-text {
  color: #9fd0f0;
  padding: 5px 10px;
  line-height: 24px;
  font-size: 1em;
}
.ui-selectmenu-menu {
  border: 1px solid #0094ff;
  border-top: none;
}
.ui-selectmenu-menu.ui-selectmenu-open .ui-widget-content {
  background: none;
  background-color: #111111;
  border: none;
  border-top: none;
}
.ui-selectmenu-menu.ui-selectmenu-open .ui-widget-content .ui-menu-item {
  background: none;
  background-color: #111111;
  color: #999;
  border: none;
  padding: 5px 10px;
  list-style-image: none;
}
.ui-selectmenu-menu.ui-selectmenu-open .ui-widget-content .ui-menu-item.ui-state-focus {
  background: none;
  border: none;
  background-color: #111111;
  color: #21b4ff;
  margin: 0;
}
.ui-selectmenu-menu.ui-selectmenu-open .ui-widget-content .ui-menu-item:last-child {
  border-bottom: none;
}
.ui-selectmenu-menu.ui-selectmenu-open .ui-widget-content .ui-menu-item.ui-state-disabled {
  display: none;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  font-weight: normal;
}
label {
  color: #0094ff;
  display: block;
  cursor: pointer;
}
button,
input[type="button"] {
  width: 100%;
  border-radius: 2px;
  border: 1px solid #0094ff;
  background-color: #0094ff;
  color: white;
  padding: 10px;
  margin: 10px 0;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
}
button:hover,
input[type="button"]:hover {
  opacity: 1;
  border: 1px solid #0094ff;
  background-color: #21b4ff;
}
.remove.glyph {
  padding: 12px;
  cursor: pointer;
}
.remove.glyph::before {
  color: red;
  font-size: 24px;
}
.form-label {
  color: #0094ff;
  font-size: 12px;
  text-transform: uppercase;
}
.form-input {
  margin-bottom: 10px;
}
.form-input input[type="text"],
.form-input textarea,
.form-input select,
.form-input .ui-selectmenu-button,
.form-input .ui-selectmenu-text,
.form-input .multi .label {
  background-color: #111111;
  width: 100% !important;
}
.pad {
  padding: 10px;
}
.sidepad {
  padding: 0 10px;
}
.glyph-aligner {
  position: relative;
  top: 3px;
}
.glyph {
  cursor: pointer;
  display: block;
  padding: 0;
}
.glyph::before {
  position: relative;
  color: #0094ff;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.app-header {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 52px;
  min-width: 180px;
  background-color: #444444;
  padding: 10px;
  color: #0094ff;
  /*.day-select {
        display: inline-block;
        float: right;
        position: relative;
        top: 4px;
        margin: 0 2%;

        .current {
            width: 55px;
            text-align: center;
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
        }
    }*/
}
.app-header:after {
  content: " ";
  display: table;
  clear: both;
}
.app-header .glyph {
  width: 12px;
  cursor: pointer;
}
.app-header .glyph.disabled {
  cursor: default;
}
.app-header .glyph::before {
  font-size: 24px;
  color: #0094ff;
}
.app-header .glyph.disabled::before {
  color: #666666;
}
.app-header > .app-logo {
  float: left;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  cursor: pointer;
  top: 5px;
  position: relative;
}
.app-header > .app-logo > .logo-title {
  top: -5px;
  position: relative;
}
.app-header > .app-logo > .logo-title .letter {
  font-family: 'Indie Flower', cursive;
  font-size: 36px;
}
.app-header > .app-logo > .logo-title .rest {
  font-family: 'Indie Flower', cursive;
}
.app-header > .app-logo .glyph::before {
  font-size: 16px;
}
.app-header > .app-logo .glyph {
  top: 0px;
  margin: 0;
  padding: 8px;
}
.app-header .user-controls {
  float: right;
  position: relative;
}
.app-header .user-controls > div {
  padding: 0 8px;
  border-right: 1px solid #0094ff;
}
.app-header .user-controls > div:last-child {
  border-right: 0;
  padding-right: 5px;
}
.app-header .user-controls .user-image {
  float: left;
}
.app-header .user-controls .user-image img {
  display: block;
  height: 30px;
  float: left;
}
.app-header .user-controls .menu {
  float: right;
}
.app-header .user-controls .menu .glyph {
  width: 30px;
  float: right;
}
.app-header .user-controls .menu .glyph::before {
  font-size: 30px;
}
.app-header #login-popup-hack {
  float: right;
}
.multi {
  position: relative;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #0094ff;
  color: #9fd0f0;
  margin-bottom: 10px;
}
.multi .ui-icon {
  cursor: pointer;
  right: 0.5em;
  left: auto;
  position: absolute;
  top: 10px;
}
.multi .label {
  color: #9fd0f0;
  font-size: 14px;
  line-height: 2;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.multi .options {
  background-color: #111111;
  max-height: 300px;
  overflow-y: scroll;
}
.multi .options .option {
  display: block;
  width: 50%;
  float: left;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #444444;
}
.multi .options .option img {
  display: inline-block;
  vertical-align: middle;
  height: 50px;
}
.multi .options .option .glyph {
  display: inline-block;
  width: 60px;
}
.multi .options .option .glyph::before {
  font-size: 50px;
}
.multi .options .option:not(.selected) .glyph::before {
  color: #666666;
}
.multi .options .option:not(.selected) .option-text {
  color: #666666;
}
.multi .options .option.selected .glyph::before {
  color: #0094ff;
}
.multi .options .option.selected .option-text {
  color: #0094ff;
}
.multi .options .option:hover .option-text,
.multi .options .option:hover .glyph::before {
  color: #21b4ff;
}
.multi .options .option:last-child {
  border-bottom: none;
}
.multi .options .option::after {
  content: " ";
  display: table;
  clear: both;
}
.multi .options::-webkit-scrollbar {
  width: 3px;
}
.multi .options::-webkit-scrollbar-track {
  background-color: #003966;
}
.multi .options::-webkit-scrollbar-thumb {
  background-color: #0094ff;
}
.selectable {
  cursor: pointer;
}
.selectable.inline {
  display: block;
  float: left;
  vertical-align: middle;
  padding: 10px;
  text-align: center;
}
.selectable.inline .glyph {
  width: 30px;
  margin: 0 auto;
}
.selectable.inline .glyph::before {
  margin: 0 auto;
  font-size: 30px;
}
.selectable.inline.full {
  width: 100%;
}
.selectable.inline.half {
  width: 50%;
}
.selectable.inline.third {
  width: 33.33%;
}
.selectable.inline.quarter {
  width: 25%;
}
.selectable:not(.inline) {
  padding: 15px 20px;
  margin: 0 -10px;
  position: relative;
}
.selectable:not(.inline) .glyph.selectable-label {
  position: absolute;
  top: 50%;
  margin-top: -10px;
}
.selectable:not(.inline) .glyph.corner-glyph {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  padding: 10px;
}
.selectable:not(.inline) .glyph.corner-glyph::before {
  font-size: 30px;
}
.selectable:not(.inline) .glyph-label {
  display: block;
  margin-left: 40px;
}
.selectable:not(.inline):after {
  content: " ";
  display: table;
  clear: both;
}
.selectable:hover {
  color: #21b4ff;
  background-color: #111111;
}
.selectable:hover .glyph::before {
  color: #21b4ff;
}
.selectable:hover .glyph.corner-glyph::before {
  color: #0094ff;
}
.selectable:hover .glyph.corner-glyph:hover,
.selectable:hover .glyph.corner-glyph:hover::before {
  color: #9fd0f0;
}
.overlay {
  position: absolute;
  background-color: black;
  opacity: .9;
  overflow-y: scroll;
  transition: width .2s;
  -moz-transition: width .2s;
  /* Firefox 4 */
  -webkit-transition: width .2s;
  /* Safari and Chrome */
  -o-transition: width .2s;
  /* Opera */
  width: 0;
  height: 100%;
  top: 0;
  padding-top: 52px;
  right: 0;
  margin: 0;
  z-index: 2;
  color: #0094ff;
}
.overlay .overlay-body {
  display: block;
}
.overlay .overlay-body .header {
  position: relative;
  min-height: 50px;
}
.overlay .overlay-body .header .back {
  position: absolute;
  top: 10px;
  left: 5px;
  width: 30px;
}
.overlay .overlay-body .header .back::before {
  font-size: 30px;
}
.overlay .overlay-body .header .header-text {
  margin: 12px 0 0 40px;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  float: left;
}
.overlay .overlay-body .tabs .tab {
  display: block;
  padding: 5px;
  width: 25%;
  height: 80px;
  float: left;
  text-align: center;
  background-color: #003966;
}
.overlay .overlay-body .tabs .tab .glyph {
  width: 50px;
  margin: 0 auto;
}
.overlay .overlay-body .tabs .tab .glyph::before {
  font-size: 50px;
  margin: 0 auto;
}
.overlay .overlay-body .tabs .tab.selected {
  background-color: transparent;
  opacity: 1;
}
.overlay .overlay-body .tabs .tab.selected .glyph {
  cursor: default;
}
.overlay .overlay-body .tabs .tab:not(.empty):not(.selected) {
  cursor: pointer;
}
.overlay .overlay-body .tabs .tab:not(.empty):not(.selected) .glyph::before {
  color: #21b4ff;
}
.overlay .overlay-body .tabs .tab:not(.empty):not(.selected) .tab-label {
  color: #21b4ff;
}
.overlay .overlay-body .tabs .tab:not(.empty):not(.selected):hover {
  background-color: #005999;
}
.overlay .overlay-body .tabs .tab:not(.empty):not(.selected):hover .glyph::before {
  color: #9fd0f0;
}
.overlay .overlay-body .tabs .tab:not(.empty):not(.selected):hover .tab-label {
  color: #9fd0f0;
}
.overlay .overlay-body .tabs .tab:not(.empty):not(.selected).btn.active .glyph::before {
  color: #daeaff;
}
.overlay .overlay-body .tabs .tab:not(.empty):not(.selected).btn.active .tab-label {
  color: #daeaff;
}
.overlay .overlay-body .tabs .tab:not(.empty):not(.selected).btn:hover {
  background-color: #003966;
}
.overlay .overlay-body .event-list-item .name {
  font-size: 20px;
  line-height: 16px;
}
.overlay .overlay-body .event-list-item .date-range {
  padding: 5px 0;
}
.overlay .overlay-body .event-list-item .tags {
  display: inline-block;
}
.overlay .overlay-body .event-list-item .tags .glyph {
  display: inline-block;
}
.overlay .overlay-body .event-list-item .place {
  display: inline-block;
}
.overlay .overlay-body .chat > .row {
  padding: 0 30px 5px 55px;
}
.overlay .overlay-body .chat > .row .fb-photo {
  margin-left: -55px;
}
.overlay .overlay-body .chat > .row .chat-input {
  width: 100%;
  margin: 5px 0 0 0;
  background-color: #111111;
}
.overlay .overlay-body .chat > .row .glyph {
  float: right;
  margin: 12px -30px 0 0;
  width: 28px;
  cursor: pointer;
}
.overlay .overlay-body .chat > .row .glyph::before {
  color: #0094ff;
  font-size: 28px;
}
.overlay .overlay-body .chat .fb-photo {
  float: left;
  height: 50px;
}
.overlay .overlay-body .chat .chat-list {
  padding: 10px 0;
}
.overlay .overlay-body .chat .chat-list .fb-photo {
  margin: 0 10px 10px 0;
}
.overlay .overlay-body .chat .chat-list .chat-msg:not(:last-child) {
  padding-bottom: 5px;
  border-bottom: 1px solid #444444;
}
.overlay .overlay-body .chat .chat-list .chat-msg:not(:first-child) {
  padding-top: 5px;
}
.overlay .overlay-body .chat .chat-list .chat-msg .chat-photo {
  float: left;
  height: 50px;
  margin: 0 10px 0 0;
}
.overlay .overlay-body .chat .chat-list .chat-msg .message-date {
  float: right;
  font-style: italic;
  padding: 0 0 5px 5px;
}
.overlay .overlay-body .chat .chat-list .chat-msg .message-text {
  padding: 2px 0 2px 0;
}
.overlay .overlay-body .main-menu .tab-header .header-item {
  height: 65px;
}
.overlay .overlay-body .main-menu .tab-header .selectable.inline {
  height: 65px;
}
.overlay .overlay-body .main-menu .menu-tab-find .find-events-header .event-count {
  width: 25%;
  height: 65px;
  padding: 10px;
  text-align: center;
  float: left;
  font-size: 36px;
  line-height: 42px;
}
.overlay .overlay-body .main-menu .menu-tab-find .find-events-header .event-count span {
  top: 8px;
  position: relative;
}
.overlay .overlay-body .main-menu .menu-tab-find .find-events-header .find-event-filters {
  width: 75%;
  height: 65px;
  position: relative;
  float: left;
}
.overlay .overlay-body .menu-tab-find-tags .tag.disabled .glyph::before {
  color: #444444;
}
.overlay .overlay-body .menu-tab-find-tags .tag.disabled .tag-label {
  color: #444444;
}
.overlay .overlay-body .menu-tab-find-tags .tag:hover {
  background-color: #111111;
}
.overlay .overlay-body .menu-tab-find-tags .tag:hover .glyph::before {
  color: #21b4ff;
}
.overlay .overlay-body .menu-tab-find-tags .tag:hover .tag-label {
  color: #21b4ff;
}
.overlay .overlay-body .menu-tab-find-tags .tag:hover.disabled .glyph::before {
  color: #cccccc;
}
.overlay .overlay-body .menu-tab-find-tags .tag:hover.disabled .tag-label {
  color: #cccccc;
}
.overlay .overlay-body .event-detail .heading,
.overlay .overlay-body .place-detail .heading {
  font-weight: bold;
}
.overlay .overlay-body .event-detail .event-info .when,
.overlay .overlay-body .place-detail .event-info .when {
  float: left;
}
.overlay .overlay-body .event-detail .event-info .when .time,
.overlay .overlay-body .place-detail .event-info .when .time {
  font-weight: bold;
  font-size: 20px;
}
.overlay .overlay-body .event-detail .event-info .when .intensity,
.overlay .overlay-body .place-detail .event-info .when .intensity {
  font-weight: normal;
  font-style: italic;
}
.overlay .overlay-body .event-detail .event-info .social-info,
.overlay .overlay-body .place-detail .event-info .social-info {
  width: 180px;
  float: right;
}
.overlay .overlay-body .event-detail .event-info .social-info .invite,
.overlay .overlay-body .place-detail .event-info .social-info .invite {
  width: 50%;
  float: left;
}
.overlay .overlay-body .event-detail .event-info .social-info .created-by,
.overlay .overlay-body .place-detail .event-info .social-info .created-by {
  width: 50%;
  float: left;
  text-align: center;
  padding: 10px;
}
.overlay .overlay-body .event-detail .event-info .social-info .created-by .creator-img,
.overlay .overlay-body .place-detail .event-info .social-info .created-by .creator-img {
  display: block;
  width: 30px;
  margin: 0 auto;
}
.overlay .overlay-body .event-detail .event-info .details .where .place,
.overlay .overlay-body .place-detail .event-info .details .where .place {
  font-weight: bold;
}
.overlay .overlay-body .event-detail .event-info .details .event-tags .tag,
.overlay .overlay-body .place-detail .event-info .details .event-tags .tag {
  display: inline-block;
  margin-right: 10px;
}
.overlay .overlay-body .event-detail .event-info .details .event-tags .tag .glyph,
.overlay .overlay-body .place-detail .event-info .details .event-tags .tag .glyph {
  cursor: default;
  width: 30px;
}
.overlay .overlay-body .event-detail .event-info .details .event-tags .tag .glyph::before,
.overlay .overlay-body .place-detail .event-info .details .event-tags .tag .glyph::before {
  font-size: 30px;
  color: #0094ff;
}
.overlay .overlay-body .event-detail .event-info .details .event-tags .tag .tag-label,
.overlay .overlay-body .place-detail .event-info .details .event-tags .tag .tag-label {
  display: none;
  color: #0094ff;
}
.overlay .overlay-body .event-detail .event-info .details .event-tags .tag::after,
.overlay .overlay-body .place-detail .event-info .details .event-tags .tag::after {
  content: " ";
  display: table;
  clear: both;
}
.overlay::-webkit-scrollbar {
  width: 3px;
}
.overlay::-webkit-scrollbar-track {
  background-color: #003966;
}
.overlay::-webkit-scrollbar-thumb {
  background-color: #0094ff;
}
.container {
  z-index: 1;
  padding-top: 52px;
  position: relative;
}
.container.show-overlay .overlay {
  width: 40%;
}
.row:after {
  content: " ";
  display: table;
  clear: both;
}
.green {
  color: #009900 !important;
}
.green.glyph::before {
  color: #009900 !important;
}
.left {
  float: left;
}
.right {
  float: right;
}
.w-map {
  float: left;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.error-message {
  color: red;
}
.center {
  text-align: center;
}
.facebook-logo::before {
  color: #3B5998;
  background-color: #fff;
}
.google-logo::before {
  color: #d34836;
  background-color: #2d2d2d;
}
.twitter-logo::before {
  color: #4099FF;
  background-color: #fff;
}
@media all and (max-width: 1200px) {
  .container.show-overlay .overlay .overlay-body .event-list .name {
    float: none;
  }
  .container.show-overlay .overlay .overlay-body .event-list .date-range {
    float: none;
  }
  .container.show-overlay .overlay .overlay-body .event-detail .when {
    float: none;
  }
  .container.show-overlay .overlay .overlay-body .event-detail .social-info {
    float: none;
    display: block;
    width: auto;
  }
}
@media all and (max-width: 900px) {
  .container.show-overlay .overlay {
    width: 100%;
    min-width: 270px;
  }
  .container.show-overlay .overlay .overlay-body .event-detail .when {
    float: left;
  }
  .container.show-overlay .overlay .overlay-body .event-detail .social-info {
    float: right;
    display: block;
    width: 180px;
  }
}
@media all and (max-width: 500px) {
  .container.show-overlay .overlay .overlay-body .event-detail .social-info {
    float: none;
    display: block;
    width: auto;
  }
}
@media all and (max-width: 350px) {
  .app-header {
    padding: 3px;
    height: 35px;
  }
  .app-header .app-logo {
    font-size: 20px;
    line-height: 20px;
    padding: 7px 0 0 5px;
    top: 0;
  }
  .app-header .app-logo .logo-title .letter {
    font-size: 24px;
    line-height: 20px;
  }
  .app-header .app-logo .logo-title .rest {
    font-size: 20px;
    line-height: 20px;
  }
  .app-header .user-controls .user-image img {
    height: 28px;
  }
  .app-header .user-controls .menu .glyph {
    width: 28px;
    float: right;
  }
  .app-header .user-controls .menu .glyph::before {
    font-size: 28px;
  }
  .container {
    padding-top: 35px;
  }
  .container.show-overlay .overlay {
    padding-top: 35px;
  }
  .container.show-overlay .overlay .overlay-body .header {
    min-height: 40px;
  }
  .container.show-overlay .overlay .overlay-body .header .back {
    width: 20px;
  }
  .container.show-overlay .overlay .overlay-body .header .back::before {
    font-size: 20px;
  }
  .container.show-overlay .overlay .overlay-body .header .header-text {
    margin: 8px 0 0 30px;
  }
  .container.show-overlay .overlay .overlay-body .selectable:not(.inline) {
    padding: 10px;
    margin: 0 -10px;
  }
  .container.show-overlay .overlay .overlay-body .selectable.inline {
    padding: 5px;
  }
  .container.show-overlay .overlay .overlay-body .tabs .tab {
    height: 40px;
  }
  .container.show-overlay .overlay .overlay-body .tabs .tab .glyph {
    width: 30px;
  }
  .container.show-overlay .overlay .overlay-body .tabs .tab .glyph::before {
    font-size: 30px;
  }
  .container.show-overlay .overlay .overlay-body .tabs .tab .tab-label {
    display: none;
  }
  .container.show-overlay .overlay .overlay-body .tabs .tab.btn .glyph {
    margin: 0;
    float: right;
  }
  .container.show-overlay .overlay .overlay-body .tabs .tab.btn .tab-label {
    display: block;
    float: right;
    margin-right: 3px;
    top: 4px;
    position: relative;
  }
  .container.show-overlay .overlay .overlay-body .main-menu .tab-content .tab-header {
    height: 35px;
  }
  .container.show-overlay .overlay .overlay-body .main-menu .tab-content .tab-header .glyph-label {
    display: none;
  }
  .container.show-overlay .overlay .overlay-body .main-menu .tab-content .tab-header .event-count {
    height: 35px;
    padding: 5px;
    font-size: 18px;
    line-height: 24px;
  }
  .container.show-overlay .overlay .overlay-body .main-menu .tab-content .tab-header .find-event-filters {
    height: 35px;
  }
  .container.show-overlay .overlay .overlay-body .main-menu .tab-content .tab-header .selectable.inline {
    height: 35px;
  }
  .container.show-overlay .overlay .overlay-body .main-menu .tab-content .tab-header .selectable.inline .glyph {
    width: 20px;
  }
  .container.show-overlay .overlay .overlay-body .main-menu .tab-content .tab-header .selectable.inline .glyph::before {
    font-size: 20px;
  }
  .container.show-overlay .overlay .overlay-body .event-detail .social-info .created-by {
    padding: 5px;
  }
}
